<a href="https://colab.research.google.com/github/aginjithgj/aginjithgj/blob/main/Building_Financial_Article_Category_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing package

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
import pandas as pd
import json
import pickle

Loading data

In [ ]:
financial_corpus_df = pd.read_csv('/content/training_data.csv')

financial_corpus_df

In [ ]:
financial_corpus_df['category'].unique()

array(['International_Finance', 'Earning_Reports', 'Commodities',
       'Economy', 'Fraud', 'Mergers_Acquisitions', 'Policy', 'Oil',
       'Capital', 'Litigation', 'Real_Estate'], dtype=object)

#Conversion article category into numbers

Which helps to make machine learning fast.

In [ ]:
label_encoder = preprocessing.LabelEncoder()
label_encoder.fit(financial_corpus_df['category'])
financial_corpus_df['lable'] = label_encoder.transform(financial_corpus_df['category'])

In [ ]:
financial_corpus_df['lable'].unique()

array([ 5,  2,  1,  3,  4,  7,  9,  8,  0,  6, 10])

#Now we have numbers for the labels

In [ ]:
financial_corpus_df

,id,category,title,body,lable
0,5639,International_Finance,How Has Devaluation of the Yuan Impacted Globa...,How Has the Devaluation of the Yuan Impacted G...,5
1,2673,Earning_Reports,Qorvo® Announces Fiscal 2022 Third Quarter Fin...,"GREENSBORO, N.C., Feb. 02, 2022 (GLOBE NEWSWIR...",2
2,2056,Commodities,Why Gatos Silver Stock Fell Another 15.5% at t...,Shares of Gatos Silver (NYSE:GATO) fell 15.5% ...,1
3,3455,Economy,Healthcare industry expects Budget 2022 to hik...,Healthcare industry expects Budget 2022 to hik...,3
4,4406,Fraud,American FX Fund CEO Sent to Jail for Running ...,The U.S Federal Bureau of Investigation (FBI) ...,4
...,...,...,...,...,...
8037,10024,Real_Estate,United Real Estate expands to Alabama with 2nd...,Dallas-based brokerage and franchisor United R...,10
8038,167,Capital,CTDOT Marks Transit Equity Day 2022 with Commi...,"(Newington, CT) - The Connecticut Department o...",0
8039,2533,Earning_Reports,Lee Enterprises reports strong digital growth ...,Digital-only subscribers grew 57%; exceeds hal...,2
8040,5543,International_Finance,Fuel for Thought: Persian Gulf energy producer...,Geopolitics has jumped ahead of market fundame...,5
8041,2792,Earning_Reports,Tesla's entire year hinges on answering one bi...,Tesla reports second-quarter earnings on Wedne...,2

Sorting off common english word

In [ ]:
vectorizer = TfidfVectorizer(stop_words='english',max_features=1000)

In [ ]:
x = financial_corpus_df['body']
y = financial_corpus_df['lable']

In [ ]:
vectorized_x = vectorizer.fit_transform(x)

In [ ]:
rf_clf = RandomForestClassifier()

In [ ]:
rf_clf.fit(vectorized_x,y)

RandomForestClassifier()

# Saving it as pickle file

In [ ]:
pickle.dump(rf_clf, open('financial_text_classifier.pkl','wb'))
pickle.dump(vectorizer, open('finacial_text_vectorizer.pkl','wb'))
pickle.dump(label_encoder,open('finacial_text_encoder.pkl','wb'))

# Testing the file

In [ ]:
model = pickle.load(open('financial_text_classifier.pkl','rb'))
tfidf_vectorizer = pickle.load(open('finacial_text_vectorizer.pkl','rb'))
lable_encoder = pickle.load(open('finacial_text_encoder.pkl','rb'))

Loading the test file

In [ ]:
input_df = pd.read_csv('/content/test_set.csv')
input_df

       id                                               body
0      56  University of Kentucky commit Jordan Griffin i...
1     194  After so much ado about an interest rate incre...
2    1832  Marriott International (NASDAQ:MAR): 13 analys...
3     233  Robert Chote, the chairman of the Office for B...
4     572  THE total estimated value of Fi­ji's productio...
..    ...                                                ...
505  2210  NSW Supreme Court provides guidance for admini...
506  2035  Former Tesco chief executive Philip Clarke is ...
507  1913  CyberArk Software Ltd. (NASDAQ:CYBR): Accordin...
508   840  Mirna Therapeutics Inc. has filed its paperwor...
509   522  IHS said the move “is designed to further prom...

[510 rows x 2 columns]

In [ ]:
 features = tfidf_vectorizer.transform(input_df['body'])

In [ ]:
predictions = model.predict(features)
predictions

array([ 9,  9,  4,  9,  3,  7,  4,  0,  3,  5,  1,  7,  8,  2,  5,  4,  0,
        4,  5,  0,  2,  7,  2,  0,  9,  9,  9,  7,  9,  2,  4,  7,  3,  9,
        0,  9,  3,  8,  0,  4,  7,  3,  0,  8,  4,  2,  6,  3,  9,  2,  1,
        2,  0,  4,  5,  2,  6,  7,  0,  0,  7,  4,  1,  5,  4,  2, 10,  8,
        8,  4,  3,  9,  4,  4,  3,  1,  1,  3,  4,  0,  1, 10,  0,  3,  5,
        1,  3,  0,  3,  5,  3,  4,  0,  1,  8,  9,  8,  8,  9, 10,  1,  4,
        6,  2,  1,  8,  3,  5,  5,  9,  4,  7,  2,  6,  9,  6,  5,  8,  7,
        8,  5,  9, 10,  7,  6,  5,  4,  0,  3,  7,  4,  7,  1,  2,  6,  9,
        6,  9,  1,  3,  4,  8,  9,  8,  6,  9,  3,  4,  8,  0,  4,  3,  6,
        3,  5,  1,  0,  2,  3,  3,  5,  7,  1,  1,  5,  6,  1,  1,  0,  7,
        0,  1,  1,  1,  4,  9,  3,  9,  2,  3,  3,  4,  1,  3,  6,  6,  2,
        4,  0, 10,  7,  9,  3,  7,  0,  5,  3,  3,  5,  7,  1,  6,  8,  6,
        4,  7,  6,  1,  6,  8,  8,  1,  8,  4,  8,  4,  8,  1,  6,  2,  7,
        7,  1,  1,  5,  0,  6,  6,  6, 10,  6,  7,  5,  8,  7,  7,  1,  4,
        8,  1,  1,  9,  4,  7,  6,  1, 10,  7,  3,  7,  9,  1,  4,  8,  5,
        8,  3,  3,  8,  7,  4,  1,  0,  1, 10,  0,  5,  0,  1, 10,  8,  2,
        2,  5,  4,  5,  3,  0,  6,  2,  5,  4,  6,  4,  6,  1,  2,  5,  2,
        9,  2,  8,  6,  8,  9,  1,  1,  7,  4,  2,  3,  4,  7,  4,  5,  0,
        2,  1,  2,  4,  4,  8,  2, 10,  7,  5,  3,  1, 10,  8,  9,  7,  5,
        7,  5,  5,  5,  4,  9,  8,  1,  6, 10,  6,  2,  2,  9,  9,  5,  8,
        3,  6,  7,  2,  2,  2,  4,  0,  1,  9,  6,  3,  8, 10,  2,  8,  6,
        5,  3,  8,  0,  2,  4,  4,  5,  9,  4,  6,  3,  3,  8,  5,  0,  4,
        6,  2,  4,  8,  5,  5,  9, 10,  5,  7,  8,  4,  8,  7,  7,  4,  2,
        7,  2,  1,  9,  9,  6,  1,  3,  1,  1,  3,  5,  1,  6,  0,  9,  3,
        7,  9,  0,  1,  7,  4,  3,  9,  8,  2,  5,  2,  5,  3,  3,  4,  8,
        2,  6,  9,  3,  7,  1,  5,  4,  6,  5,  3,  6,  5,  2, 10,  9,  5,
        0,  5,  9,  4,  4,  4,  1,  6,  0,  6,  4,  9,  7,  4,  1,  7,  0,
        5,  8,  2,  3,  5,  5,  9,  5,  7,  2,  8,  9,  2,  8,  3,  5,  9,
        9,  4,  8,  8,  9,  4,  3,  0,  6,  9,  0,  7,  5,  2, 10,  1,  5,
        2,  6,  1,  4,  1,  7,  1,  0,  2,  7,  5,  6,  6,  4,  4,  0,  5])

Transfer to label

In [ ]:
input_df['category'] = label_encoder.inverse_transform(predictions)
input_df

,id,body,category
0,56,University of Kentucky commit Jordan Griffin i...,Policy
1,194,After so much ado about an interest rate incre...,Policy
2,1832,Marriott International (NASDAQ:MAR): 13 analys...,Fraud
3,233,"Robert Chote, the chairman of the Office for B...",Policy
4,572,THE total estimated value of Fi­ji's productio...,Economy
...,...,...,...
505,2210,NSW Supreme Court provides guidance for admini...,Litigation
506,2035,Former Tesco chief executive Philip Clarke is ...,Fraud
507,1913,CyberArk Software Ltd. (NASDAQ:CYBR): Accordin...,Fraud
508,840,Mirna Therapeutics Inc. has filed its paperwor...,Capital
509,522,IHS said the move “is designed to further prom...,International_Finance

Segregating the category only

In [ ]:
output_df = input_df[['id','category']]
output_df

       id               category
0      56                 Policy
1     194                 Policy
2    1832                  Fraud
3     233                 Policy
4     572                Economy
..    ...                    ...
505  2210             Litigation
506  2035                  Fraud
507  1913                  Fraud
508   840                Capital
509   522  International_Finance

[510 rows x 2 columns]